h1 {
  font-family:"Raleway", sans-serif;
  color:black;
}
body, html {

height:100%;
background-image:url("img1.jpg");
image-resolution:from-image;
background-repeat:no-repeat;
background-position:fixed;
background-size:cover;
background-attachment:fixed;
}

table, th, td{
    padding: 10px 10px 10px 10px;
   	letter-spaceing:10.0px;
   	font-size:100%;
    color:bold black;
    background-color:transperent;
    width: 600px;
    text-align:center;
    border-top-width:2px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
   	border-bottom:2px solid black;
   	board-top:2px solid black;
    border-top:2px solid black;
    border:2px solid black;
    border-radius:2px solid black;
}
h4 {
  text-align: left;
  color:black;
}
a {
  font-size:20px;
  cursor:progress;
}
b{
  text-decoration: underline;
}
footer
{
    text-align: right;
    color: black;
}
p {
  font-family:"Raleway", sans-serif;
  text-align:center;
  padding-top:20px;
  padding-right:50px;
  padding-left:50px;
  color:black;
}
